footer {
    margin-top: 10px;
    background: #924026;
    padding: 0.5em;
    background-color: #924026;

}

.footerItems {
    
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
   
}

.footerList {
    order: 2;
    padding: 10px;
    width: 100%;
    text-align:center
}

footer a:hover {
    color: #fbe8dc;

}

.footerList li a {
    display: block;
    padding: 15px 5px;

}

