.title {
    float: left;
    background-color: #924026;
}

ul {
    display: flex;
    position:relative;
    list-style: none;
    justify-content:space-evenly;
    visibility: visible;
    font-weight:bold;
    
    
}

.menuList {

    background-color:#924026;
}

.menuItems {
    font-stretch: extra-expanded;
    background-color: #924026;
    display: flex;
    justify-content: space-evenly;
   
}
nav {
    float: right;
    background-color: #924026;
    background-image: #924026;
    
    
}

nav a {
    color: #fbe8dc;
    text-decoration: none;
}

nav a:hover {
    background-color: #df3314;
    color: #fbe8dc;
    height: 20em;

}

   @media screen and (max-width:1000em) {}
       .menuItems ul {
           max-width: 120em;
           border-bottom: none;
           height: 200em;
           line-height: 100em;
           
        }



    
    
    







