
ul {
    display: flex;
    position:relative;
    list-style: none;
    justify-content: space-between;
    visibility: visible;
    font-weight: bold;
    
}

.menuItems {
    font-stretch: extra-expanded;
   
}

nav a:hover {
    background-color: #df3314;
    color: white;

}

   @media screen and (max-width:1000px) {}
       .menuItems ul {
           width: 120px;
           border-bottom: none;
           height: 50px;
           line-height: 50px;
        }



    
    
    







