
body {
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif
    
    

}



.slide{
    margin: auto;

    overflow: hidden; 
}



.wireframe {
    max-width: 40%;
    max-height: 40%;

}



.portrait {
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
    max-width: 40%;
    max-height: 40%;
    
}

.logo {

    max-width: 40%;
    max-height: 40%;
    
}

.mila {
    font-weight: bold;
    font-style: oblique;

}



.about {

    text-align: left;
}

.flex-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;


}

.flex-item{
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: white
    



}

.flex-item:hover {
    background-color:#ef774e
   



}

.flex-item a:hover {
    color: white;
    
}

a {
    color: black;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif
    
}

