.h-card {
    visibility: hidden;

}

body {
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.carouselContainer{
    width: 60%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden; 
}

.carouselSlide{
    display:inline-flex;
    width: 100%;
    height:500px;
    
}

.prevButton {
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor:pointer;

}

.nextButton {
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor:pointer;

}

.wireframe {
    max-width: 40%;
    max-height: 40%;

}

.article{
    display: grid;
    grid-template-columns: repeat(3,lfr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


