
body {
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.slide{
    margin: auto;

    overflow: hidden; 
}



.wireframe {
    max-width: 40%;
    max-height: 40%;

}



.portrait {
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
    max-width: 40%;
    max-height: 40%;
    
}

.logo {

    max-width: 40%;
    max-height: 40%;
    
}

.mila {
    font-weight: bold;
    font-style: oblique;

}



.about {

    text-align: left;
}
